<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="dei.vlab.communication.model.User" />
		<mapping class="dei.vlab.communication.model.Role" />
		<mapping class="dei.vlab.communication.model.UserDetail" />
		 <mapping class="dei.vlab.communication.model.Circuit" />

	</session-factory>
</hibernate-configuration>
